<!DOCTYPE html>
<html>
<!-- Create custom directive using isolate scope. -->
<head>
	<title>Custom_Directive_Assignment1.4</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>


	<script type="text/javascript">
		var mod=angular.module("myAPP",[]);
		mod.controller("CTR",function($scope){
			$scope.name= "Mayank";
			$scope.email= "abc@gmail.com"
		
		})
		mod.directive("ngDir",function(){
			return{
				template : '<div class="panel-body"> Name : {{name}} Email : {{enail}} </div>',
				restrict : 'A',
				replace : 'false',
				scope : {}
			}
		});
	</script>
</head>
<body ng-app="myAPP">
	<div class="container-fluid" ng-controller="CTR">
		<h2><b> ISOLATED SCOPE</b></h2>
		<form>
			<div class="form-group">
			<label> Name :</label> <input type="text" placeholder=" Enter your Name " ng-model="name">  </input> <br>
			</div>
			<div class="form-group">
			<label> Email :</label> <input type="text" placeholder=" Enter your Name " ng-model="email">  </input> <br>
			</div>
			
		</form>
		<div ng-dir> </div>
	</div>

</body>
</html>